---
eucalyptus_package_version: ""
eucalyptus_package_suffix: "{{ '-' + eucalyptus_package_version if eucalyptus_package_version else '' }}"

# Cloud settings
cloud_region_region_name: "{{ cloud_region_name }}"
cloud_listener_cidr: 0.0.0.0/32
cloud_listener_port: "{{ cloud_public_port }}"
cloud_public_port: 8773
cloud_properties: {}
cloud_admin_password: ""
cloud_service_image_rpm: yes
cloud_service_image_size: "5"
cloud_initial_accounts_default: [ "aws", "amazon", "euca" ]
cloud_initial_accounts_custom: []
cloud_initial_accounts: "{{ cloud_initial_accounts_default + cloud_initial_accounts_custom }}"

# EDGE network settings
edge_subnet: "{{ '172.31.0.0' if edge_bridge_create else ansible_default_ipv4.network }}"
edge_netmask: "{{ '255.255.0.0' if edge_bridge_create else ansible_default_ipv4.netmask }}"
edge_gateway: "{{ '172.31.0.1' if edge_bridge_create else ansible_default_ipv4.gateway }}"
edge_private_ip_range: "{{ '172.31.0.2-172.31.0.254' if edge_bridge_create else '192.168.254.150-192.168.254.199' }}"
edge_public_ip_range: 192.168.254.200-192.168.254.249
edge_private_ip_ranges:
  - "{{ edge_private_ip_range }}"
edge_public_ip_ranges:
  - "{{ edge_public_ip_range }}"

# Firewalld settings
cloud_firewalld_configure: no
cloud_firewalld_dns_configure: yes
cloud_firewalld_public_zone: public
cloud_firewalld_vpcmidogw_zone: "{{ cloud_firewalld_public_zone }}"
cloud_firewalld_vpcmidogw_interface: Null

# Midonet settings
midonet_cassandra_replication_factor: "{{ 3 if ('midonet_nsdb' in groups and (groups.midonet_nsdb|length) >= 3) else 1}}"
midonet_cluster_heap: Null
midonet_midolman_heap: Null

# VPCMIDO network settings
vpcmido_public_ip_range: 192.168.254.150-192.168.254.250
vpcmido_public_ip_cidr: 192.168.254.128/25
vpcmido_public_ip_ranges:
  - "{{ vpcmido_public_ip_range }}"
vpcmido_public_ip_cidrs:
  - "{{ vpcmido_public_ip_cidr }}"
vpcmido_gw_ext_cidr: 10.234.234.224/27
vpcmido_gw_ext_device: euca-mgw-veth1
vpcmido_gw_ext_ip: 10.234.234.235
vpcmido_gw_ext_router_ip: 10.234.234.234
vpcmido_gw_srv_veth_create: "{{ vpcmido_gw_ext_device == 'euca-mgw-veth1' }}"
vpcmido_gw_srv_veth0: euca-mgw-veth0
vpcmido_gw_srv_veth1: euca-mgw-veth1
vpcmido_gw_srv_veth_prefix: 27

# Network settings
net_mode: EDGE
net_mode_lower: "{{ net_mode | lower }}"
net_mode_:
  edge:
    private_ip_ranges: "{{ edge_private_ip_ranges }}"
    public_ip_ranges: "{{ edge_public_ip_ranges }}"
  vpcmido:
    private_ip_ranges: Null
    public_ip_ranges: "{{ vpcmido_public_ip_ranges }}"
net_private_ip_ranges: "{{ net_mode_[net_mode_lower]['private_ip_ranges'] }}"
net_public_ip_ranges: "{{ net_mode_[net_mode_lower]['public_ip_ranges'] }}"
