---
eucalyptus_package_version: ""
eucalyptus_package_suffix: "{{ '-' + eucalyptus_package_version if eucalyptus_package_version else '' }}"

# Console
eucaconsole_product: "{{ eucalyptus_product }}"
eucaconsole_ats_product_url: https://www.appscale.com/product/
eucaconsole_firewalld_configure: yes
eucaconsole_package_version: ""
eucaconsole_package_suffix: "{{ ( '-' + eucaconsole_package_version ) if eucaconsole_package_version else eucalyptus_package_suffix }}"

# Certbot
eucaconsole_certbot_configure: no
eucaconsole_certbot_domain: "console.{{ cloud_system_dns_dnsdomain | default('localhost') }}"
eucaconsole_certbot_email: ""
eucaconsole_certbot_certonly_opts: "--no-eff-email"
eucaconsole_certbot_request_service_domains: "{{ eucaconsole_certbot_services|length > 0 }}"
eucaconsole_certbot_services: []
eucaconsole_certbot_services_all: [autoscaling, bootstrap, cloudformation, ec2, elasticloadbalancing, iam, monitoring, properties, route53, s3, sqs, sts, swf]

