<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Ceph Public Zone</short>
  <description>Secure internal network for Ceph public traffic</description>
  <source address="{{ ceph_public_network }}"/>
  <rule family="ipv4">
    <port protocol="tcp" port="22"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <port protocol="tcp" port="3300"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <port protocol="tcp" port="6789"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <port protocol="tcp" port="6800-7300"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <port protocol="tcp" port="7480"/>
    <accept/>
  </rule>
</zone>
