<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Ceph Cluster Zone</short>
  <description>Secure internal network for Ceph cluster traffic</description>
  <source address="{{ ceph_cluster_network }}"/>
  <rule family="ipv4">
    <port protocol="tcp" port="0-65535"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <port protocol="udp" port="0-65535"/>
    <accept/>
  </rule>
</zone>
