---
- import_tasks: vpcmido.yml
  when: net_mode == "VPCMIDO"

- name: install eucalyptus related utility packages
  yum:
    name:
    - attr
    - awscli
    - bash-completion
    - bzip2
    - eucalyptus-awscli-plugin
    - qemu-img
    - wget
    - xz
    state: present
  tags:
    - image
    - packages

- name: install eucalyptus-cloud package
  yum:
    name: eucalyptus-cloud{{ eucalyptus_package_suffix }}
    state: present
  tags:
    - image
    - packages

- name: install eucalyptus-service-image package
  yum:
    name: eucalyptus-service-image
    state: present
  tags:
    - image
    - packages
  when: cloud_service_image_rpm

- name: install eucalyptus-service-image-tools package
  yum:
    name: eucalyptus-service-image-tools
    state: present
  tags:
    - image
    - packages

- name: install eucalyptus-walrus package
  yum:
    name: eucalyptus-walrus{{ eucalyptus_package_suffix }}
    state: present
  tags:
    - image
    - packages
  when: eucalyptus_ceph_conf is undefined

- name: install eucanetd package
  yum:
    name: eucanetd{{ eucalyptus_package_suffix }}
    state: present
  tags:
    - image
    - packages
  when: net_mode == "VPCMIDO"

- name: install nginx package
  yum:
    name: nginx
    state: present
  tags:
    - image
    - packages
  when: net_mode == "VPCMIDO"

- name: install dnsdist package
  yum:
    name: dnsdist
    state: present
  tags:
    - image
    - packages
  when: cloud_dns_authoritative_balancer

- name: eucalyptus firewalld service
  template:
    src: firewalld-service-eucalyptus.xml.j2
    dest: /etc/firewalld/services/eucalyptus.xml
    owner: root
    group: root
    mode: 0644
  tags:
    - firewalld
    - image
  register: copy_result

- name: firewalld reload
  systemd:
    name: firewalld
    state: reloaded
  tags:
    - firewalld
  when: cloud_firewalld_configure and copy_result.changed

- name: eucalyptus service firewalld zone
  firewalld:
    zone: "{{ cloud_firewalld_public_zone }}"
    service: eucalyptus
    state: enabled
    permanent: yes
    immediate: "{{ cloud_firewalld_start }}"
  tags:
    - firewalld
  when: cloud_firewalld_configure and cloud_firewalld_public_zone is not none

- name: cloud firewalld dns service for public zone
  firewalld:
    zone: "{{ cloud_firewalld_public_zone }}"
    service: dns
    state: enabled
    permanent: yes
    immediate: "{{ cloud_firewalld_start }}"
  tags:
    - firewalld
  when: cloud_firewalld_configure and cloud_firewalld_dns_configure and cloud_firewalld_public_zone is not none

- name: configure selinux bool httpd_can_network_connect
  seboolean:
    name: httpd_can_network_connect
    persistent: yes
    state: yes
  tags:
    - image
    - selinux
  when: net_mode == "VPCMIDO"

- name: eucalyptus network yaml
  template:
    src: network.yaml.j2
    dest: /etc/eucalyptus/network.yaml
    owner: root
    group: root
    mode: 0644

- name: initialize eucalyptus cloud
  command:
    cmd: /usr/sbin/clcadmin-initialize-cloud
    creates: /var/lib/eucalyptus/keys/cloud-cert.pem
  environment:
    CLOUD_DB_HOST: "{{ cloud_db_host | default() }}"
    CLOUD_DB_PORT: "{{ cloud_db_port | default() }}"
    CLOUD_DB_PASSWORD: "{{ cloud_db_password | default() }}"

- name: start eucalyptus-cloud service
  systemd:
    enabled: true
    state: started
    name: eucalyptus-cloud

- name: start eucanetd service
  systemd:
    enabled: true
    state: started
    name: eucanetd
  when: net_mode == "VPCMIDO"

- name: wait for cloud services
  wait_for:
    sleep: 10
    port: 8773
    timeout: 180

- name: register user facing services
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    UFS_HOSTS="{{ groups['cloud'] | map('extract', hostvars, ['eucalyptus_host_cluster_ipv4']) | list | sort | join(' ') }}"
    for UFS_HOST in ${UFS_HOSTS} ; do
      euserv-register-service -t user-api -h ${UFS_HOST} api.${UFS_HOST}
    done
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: register walrus backend service
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    CLC_HOST={{ eucalyptus_host_cluster_ipv4 | quote  }}
    euserv-register-service -t walrusbackend -h ${CLC_HOST} walrus.${CLC_HOST}
  register: shell_result
  until: shell_result.rc == 0
  retries: 5
  when: eucalyptus_ceph_conf is undefined and eucalyptus_minio_endpoint is undefined

- name: configure cloud properties
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    SERVICES_PORT_OLD="$(euctl -n bootstrap.webservices.port)"
    SERVICES_CIDR_OLD="$(euctl -n bootstrap.webservices.listener_address_match)"
    SERVICES_PORT_NEW={{ cloud_listener_port | quote }}
    SERVICES_CIDR_NEW={{ cloud_listener_cidr | quote }}
    euctl system.dns.dnsdomain={{ cloud_system_dns_dnsdomain | quote }}
    euctl region.region_name={{ cloud_region_region_name | quote }}
    euctl cloud.network.network_configuration=@/etc/eucalyptus/network.yaml
    euctl bootstrap.webservices.use_instance_dns=true
    euctl bootstrap.webservices.use_dns_delegation=true
    if [ "${SERVICES_PORT_OLD}" != "${SERVICES_PORT_NEW}" ] || [ "${SERVICES_CIDR_OLD}" != "${SERVICES_CIDR_NEW}" ] ; then
      euctl bootstrap.webservices.port="${SERVICES_PORT_NEW}"
      euctl bootstrap.webservices.listener_address_match="${SERVICES_CIDR_NEW}"
      sleep 20
    fi
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: configure cloud storage properties for walrus
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euctl objectstorage.providerclient=walrus
  when: eucalyptus_ceph_conf is undefined and eucalyptus_minio_endpoint is undefined
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: configure cloud storage properties for minio
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euctl objectstorage.s3provider.s3endpoint={{ eucalyptus_minio_endpoint | quote }}
    euctl objectstorage.s3provider.s3accesskey={{ eucalyptus_minio_creds.access_key | quote }}
    euctl objectstorage.s3provider.s3secretkey={{ eucalyptus_minio_creds.secret_key | quote }}
    euctl objectstorage.s3provider.s3endpointheadresponse=400
    euctl objectstorage.providerclient=minio
  when: eucalyptus_ceph_conf is undefined and eucalyptus_minio_endpoint is defined
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: configure cloud storage properties for ceph object gateway
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euctl objectstorage.s3provider.s3endpoint={{ eucalyptus_ceph_rgw_endpoint | quote }}
    euctl objectstorage.s3provider.s3accesskey={{ eucalyptus_ceph_rgw_creds.access_key | quote }}
    euctl objectstorage.s3provider.s3secretkey={{ eucalyptus_ceph_rgw_creds.secret_key | quote }}
    euctl objectstorage.s3provider.s3endpointheadresponse=200
    euctl objectstorage.providerclient=ceph-rgw
  when: eucalyptus_ceph_conf is defined
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: configure custom cloud properties
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euctl {{ item.key }}={{ item.value | quote }}
  with_dict: "{{ cloud_properties }}"
  register: shell_result
  until: shell_result.rc == 0
  retries: 5

- name: eucalyptus-account account resources utility
  copy:
    src: eucalyptus-account
    dest: /usr/local/bin/eucalyptus-account
    owner: root
    group: root
    mode: 0755

- name: eucalyptus-images image install wrapper
  copy:
    src: eucalyptus-images
    dest: /usr/local/bin/eucalyptus-images
    owner: root
    group: root
    mode: 0755

- name: eucalyptus-system-images system image install utility
  copy:
    src: eucalyptus-system-images
    dest: /usr/local/bin/eucalyptus-system-images
    owner: root
    group: root
    mode: 0755

- name: eucalyptus cloud services https import utility
  copy:
    src: eucalyptus-cloud-https-import
    dest: /usr/local/bin/eucalyptus-cloud-https-import
    owner: root
    group: root
    mode: 0755

- name: cloudformation templates directory
  file:
    path: /var/lib/eucalyptus/templates
    state: directory
    owner: root
    group: root
    mode: 0755

- name: cloudformation template for eucalyptus dns
  copy:
    src: eucalyptus-dns-template.yaml
    dest: /var/lib/eucalyptus/templates/eucalyptus-dns-template.yaml
    owner: root
    group: root
    mode: 0644

- name: cloudformation template for console elastic ip
  copy:
    src: console-eip-template.yaml
    dest: /var/lib/eucalyptus/templates/console-eip-template.yaml
    owner: root
    group: root
    mode: 0644

- name: cloudformation template for console
  copy:
    src: console-template.yaml
    dest: /var/lib/eucalyptus/templates/console-template.yaml
    owner: root
    group: root
    mode: 0644

- name: cloudformation template for console with custom https
  copy:
    src: console-elb-template.yaml
    dest: /var/lib/eucalyptus/templates/console-elb-template.yaml
    owner: root
    group: root
    mode: 0644

- name: tools configuration directory
  file:
    path: /root/.euca
    state: directory
    owner: root
    group: root
    mode: 0755

- name: tools configure default region
  template:
    src: global.ini.j2
    dest: /root/.euca/global.ini
    owner: root
    group: root
    mode: 0644

- name: create initial accounts
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euare-accountcreate {{ item | quote }}
  register: shell_result
  changed_when: '"EntityAlreadyExists" not in shell_result.stderr'
  failed_when:
    - shell_result.rc != 0
    - '"EntityAlreadyExists" not in shell_result.stderr'
  with_items: "{{ cloud_initial_accounts | default([]) }}"

- name: admin password/login profile credential
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    euare-useraddloginprofile -u admin -p {{ cloud_admin_password | quote }}
  register: shell_result
  when: cloud_admin_password|length >= 8
  changed_when: '"EntityAlreadyExists" not in shell_result.stderr'
  failed_when:
    - shell_result.rc != 0
    - '"EntityAlreadyExists" not in shell_result.stderr'

- name: generate admin credentials / configuration
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    export AWS_DEFAULT_REGION=eucalyptus
    CLOUD_DOMAIN={{ cloud_system_dns_dnsdomain | quote }}
    CLOUD_PORT={{ cloud_public_port | default(8773) | quote }}
    euare-useraddkey --write-config --domain "${CLOUD_DOMAIN}:${CLOUD_PORT}" --set-default-user admin > /root/.euca/euca-admin.ini
  args:
    creates: /root/.euca/euca-admin.ini

- name: aws cli configuration directory
  file:
    path: /root/.aws
    state: directory
    owner: root
    group: root
    mode: 0755

- name: aws cli configuration
  template:
    src: aws-config.j2
    dest: /root/.aws/config
    owner: root
    group: root
    mode: 0644

- name: generate aws cli credentials
  shell: |
    set -eu
    eval $(euca-generate-environment-config)
    echo -e "[default]\naws_access_key_id = ${AWS_ACCESS_KEY_ID}\naws_secret_access_key = ${AWS_SECRET_ACCESS_KEY}" > /root/.aws/credentials
    chmod 600 /root/.aws/credentials
  args:
    creates: /root/.aws/credentials

- name: install service image from rpm
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    if ! euctl services.imaging.worker.image services.loadbalancing.worker.image | grep "[ae]mi-" ; then
      esi-install-image --force --remove-all
    fi
    esi-install-image --install-default
  register: shell_result
  changed_when: '"is already registered." not in shell_result.stderr'
  failed_when:
    - shell_result.rc != 0
    - '"is already registered." not in shell_result.stderr'
  until: shell_result is succeeded
  retries: 5
  when: cloud_service_image_rpm

- name: install service image as system image
  shell: |
    set -eu
    eval $(clcadmin-assume-system-credentials)
    /usr/local/bin/eucalyptus-system-images --type service --size {{ cloud_service_image_size | quote }}
  register: shell_result
  changed_when: '"image already installed" not in shell_result.stderr'
  failed_when:
    - shell_result.rc != 0
    - shell_result.rc != 2
  when: not cloud_service_image_rpm

- name: configure service image cloud properties
  shell: |
    set -euo pipefail
    eval $(clcadmin-assume-system-credentials)
    SERVICE_IMAGEID=$(euca-describe-images --filter tag:type=eucalyptus-service-image | head -n 1 | grep ^IMAGE | cut -f 2)
    OLD_IMAGING_IMAGEID=$(euctl -n services.imaging.worker.image)
    OLD_LOADBALANCING_IMAGEID=$(euctl -n services.loadbalancing.worker.image)
    if [ "${SERVICE_IMAGEID}" != "${OLD_IMAGING_IMAGEID}" ] || [ "${SERVICE_IMAGEID}" != "${OLD_LOADBALANCING_IMAGEID}" ] ; then
      euctl services.imaging.worker.image="${SERVICE_IMAGEID}"
      euctl services.loadbalancing.worker.image="${SERVICE_IMAGEID}"
    else
      echo "Service image cloud properties not changed." >&2
    fi
  register: shell_result
  changed_when: '"not changed" not in shell_result.stderr'
  when: not cloud_service_image_rpm
