---
# Eucalyptus package repositories
eucalyptus_yum_baseurl_master: http://downloads.eucalyptus.cloud/software/eucalyptus/master/rhel/7/x86_64/
eucalyptus_yum_baseurl_release: http://downloads.eucalyptus.cloud/software/eucalyptus/5/rhel/7/x86_64/
eucalyptus_yum_baseurl_snapshot: http://downloads.eucalyptus.cloud/software/eucalyptus/snapshot/5/rhel/7/x86_64/
eucalyptus_yum_baseurl: "{{ eucalyptus_yum_baseurl_release }}"
euca2ools_yum_baseurl: http://downloads.eucalyptus.cloud/software/euca2ools/3.4/rhel/7/x86_64/
eucalyptus_yum_gpgcheck: "1"
eucalyptus_base_yum_enabled: no
eucalyptus_base_yum_baseurl: https://downloads.eucalyptus.cloud/software/eucalyptus/base/5/rhel/7/x86_64/
eucalyptus_package_version: ""
eucalyptus_package_suffix: "{{ '-' + eucalyptus_package_version if eucalyptus_package_version else '' }}"

# Product settings
eucalyptus_product: eucalyptus

# Cloud settings
cloud_region_name: cloud-1
cloud_zone_1_name: "{{ cloud_region_name }}a"
cloud_zone_2_name: "{{ cloud_region_name }}b"
cloud_zone_3_name: "{{ cloud_region_name }}c"
cloud_zone_:
  1:
    name: "{{ cloud_zone_1_name }}"
  2:
    name: "{{ cloud_zone_2_name }}"
  3:
    name: "{{ cloud_zone_3_name }}"
cloud_opts: "{{ cloud_opts_tech_preview }} {{ cloud_opts_mem }} {{ cloud_opts_custom }} {{ cloud_opts_bindaddr }} {{ cloud_opts_bootstrap_hosts }}"
cloud_opts_custom: ""
cloud_opts_mem: "-Xmx2g"
cloud_opts_bindaddr: "--bind-addr={{ eucalyptus_host_cluster_ipv4 }}"
cloud_opts_bootstrap_hosts: ""
cloud_opts_tech_preview: "-Denable.route53.tech.preview=true -Denable.sqs.tech.preview=true"
cloud_log_level: INFO
cloud_boostrap_hosts: no
cloud_db_host: Null
cloud_db_port: Null
cloud_db_password: Null
cloud_instances:
  state_dir: /var/lib/eucalyptus/instances
  conf:
    cpu_passthrough: "1"
    cache_size: "-1"
    work_size: "-1"
    max_cores: "0"
    max_mem: "0"
    custom: ""
cloud_instances_state_dir: "{{ cloud_instances.state_dir }}"
cloud_instances_conf_cpu_passthrough: "{{ cloud_instances.conf.cpu_passthrough }}"
cloud_instances_conf_cache_size: "{{ cloud_instances.conf.cache_size }}"
cloud_instances_conf_work_size: "{{ cloud_instances.conf.work_size }}"
cloud_instances_conf_max_cores: "{{ cloud_instances.conf.max_cores }}"
cloud_instances_conf_max_mem: "{{ cloud_instances.conf.max_mem }}"
cloud_instances_conf_custom: "{{ cloud_instances.conf.custom }}"

# EDGE network settings
edge_router_enabled: Y
edge_router_ip: AUTO
edge_bridge_create: no

# Network settings
net_mode: EDGE
net_mode_lower: "{{ net_mode | lower }}"
net_mode_:
  edge:
    bridge_interface: "{{ 'euca-priv-br0' if edge_bridge_create else (edge_bridge_interface | default('br0')) }}"
    private_interface: "{{ 'euca-priv-br0' if edge_bridge_create else (edge_bridge_interface | default('br0')) }}"
  vpcmido:
    bridge_interface: "{{ vpc_bridge_interface | default('br0') }}"
    private_interface: "{{ net_public_interface }}"
net_private_interface: "{{ net_mode_[net_mode_lower]['private_interface'] }}"
net_public_interface: en1
net_bridge_interface: "{{ net_mode_[net_mode_lower]['bridge_interface'] }}"
net_instance_dns_servers: Null
net_node_listen_addr: "{{ eucalyptus_host_cluster_ipv4 }}"
net_node_metadata_ip: Null
net_node_metadata_use_vm_private: Null
net_node_proxy: Null
net_node_router_enabled: "{{ edge_router_enabled }}"
net_node_router_ip: "{{ edge_router_ip }}"

# DNS Settings
cloud_dns_authoritative_balancer: no

# Role settings
key_facts: no
