---
- name: ceph-deploy new cluster
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} new --cluster-network {{ ceph_cluster_network }} --public-network {{ ceph_public_network }} {{ groups['ceph'] | map('extract', hostvars, ['ansible_hostname']) | list | sort | join(' ') }}"

- name: ceph custom configuration for osd pool size
  blockinfile:
    path: /home/ceph-deploy/cluster/ceph.conf
    marker: '# {mark} eucalyptus ceph osd pool size configuration'
    block: |
      osd_pool_default_size = 1
      osd_pool_default_min_size = 1
  when: groups.ceph|length < 3

- name: ceph custom configuration for osds
  blockinfile:
    path: /home/ceph-deploy/cluster/ceph.conf
    marker: '# {mark} eucalyptus ceph osd general configuration'
    block: |
      osd_pool_default_pg_num = {{ ceph_osd_pool_pgnum }}
      osd_pool_default_pgp_num = {{ ceph_osd_pool_pgnum }}

- name: ceph custom configuration for rgw frontends
  blockinfile:
    path: /home/ceph-deploy/cluster/ceph.conf
    marker: '# {mark} eucalyptus ceph rgw {{ hostvars[item].ansible_hostname }} configuration'
    block: |
      [client.rgw.{{ hostvars[item].ansible_hostname }}]
      rgw_frontends = civetweb port={{ hostvars[item].eucalyptus_host_cluster_ipv4 }}:7480
  loop: "{{ groups.ceph_object_gateway }}"

- name: ceph custom configuration for mons
  blockinfile:
    path: /home/ceph-deploy/cluster/ceph.conf
    marker: '# {mark} eucalyptus ceph mon {{ hostvars[item].ansible_hostname }} configuration'
    block: |
      [mon.{{ hostvars[item].ansible_hostname }}]
      host = {{ hostvars[item].ansible_hostname }}
      mon addr = {{ hostvars[item].eucalyptus_host_cluster_ipv4 }}:6789
  loop: "{{ groups.ceph }}"

- name: ceph-deploy install
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} install --no-adjust-repos --release {{ ceph_release }} {{ groups['ceph'] | map('extract', hostvars, ['ansible_hostname']) | list  | sort | join(' ') }}"

- name: ceph-deploy initial mon
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: ceph-deploy {{ ceph_deploy_opts }} mon create-initial

- name: ceph-deploy admin keys
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} admin {{ groups['ceph'] | union(groups['ceph_object_gateway']) | map('extract', hostvars, ['ansible_hostname']) | list | sort | join(' ') }}"

- name: create manager
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} mgr create {{ groups['ceph'] | map('extract', hostvars, ['ansible_hostname']) | list | sort | join(' ') }}"
  when: ceph_mgr_create

- name: create osds
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} osd create --data {{ item[1] }} {{ hostvars[item[0]].ansible_hostname }}"
  when: ceph_osd_create
  loop: "{{ groups.ceph | product(ceph_osd_data_paths) | list }}"

- name: prepare osds
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} osd prepare {{ hostvars[item].ansible_hostname }}:{{ ceph_osd_data_path }}"
  when: not ceph_osd_create
  loop: "{{ groups.ceph }}"

- name: activate osds
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} osd activate {{ hostvars[item].ansible_hostname }}:{{ ceph_osd_data_path }}"
  when: not ceph_osd_create
  loop: "{{ groups.ceph }}"

- name: ceph-deploy rgw install hammer
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} install --release {{ ceph_release }} --rgw {{ hostvars[item].ansible_hostname }}"
  when: ceph_release == "hammer"
  loop: "{{ groups.ceph_object_gateway }}"

- name: install ceph-radosgw package
  yum:
    name: ceph-radosgw
    state: present
  become: no
  delegate_to: "{{ item }}"
  loop: "{{ groups.ceph_object_gateway }}"

- name: ceph-deploy rgw create
  command:
    chdir: /home/ceph-deploy/cluster
    cmd: "ceph-deploy {{ ceph_deploy_opts }} rgw create {{ hostvars[item].ansible_hostname }}"
  loop: "{{ groups.ceph_object_gateway }}"
