---
ceph_release: jewel

ceph_public_network: 192.168.0.0/16

ceph_cluster_network: "{{ ceph_public_network }}"

ceph_osd_data_path: /var/lib/ceph-osd/osd0

ceph_osd_data_paths:
  - "{{ ceph_osd_data_path }}"

ceph_osd_volume_pool: eucavolumes

ceph_osd_snapshot_pool: eucasnapshots

ceph_osd_pool_pgnum: 16

ceph_rgw_uid: eucas3

ceph_facts: "{{ True if (ceph_facts_local or ('ceph' in groups and groups['ceph'])) else False }}"

ceph_facts_local: no

ceph_facts_delegate: "{{ 'localhost' if ceph_facts_local else '' }}"

ceph_facts_path: /root/eucalyptus/ceph

cloud_firewalld_configure: no

cloud_firewalld_cluster_cidr: Null

cloud_firewalld_public_interface: "{{ eucalyptus_host_public_interface }}"

cloud_firewalld_public_zone: public

cloud_firewalld_cluster_interface: "{{ eucalyptus_host_cluster_interface if eucalyptus_host_public_interface != eucalyptus_host_cluster_interface else None|default(omit, True) }}"

cloud_firewalld_cluster_zone: internal

cloud_firewalld_default_zone: trusted

cloud_firewalld_start: yes

cloud_firewalld_always_reload: no
