---
- name: datastax gpg key
  copy:
    src: RPM-GPG-KEY-datastax
    dest: /etc/pki/rpm-gpg/RPM-GPG-KEY-datastax
    owner: root
    group: root
    mode: 0644

- name: install datastax gpg key
  rpm_key:
    state: present
    key: /etc/pki/rpm-gpg/RPM-GPG-KEY-datastax

- name: datastax yum repository
  copy:
    src: datastax.repo
    dest: /etc/yum.repos.d/datastax.repo
    owner: root
    group: root
    mode: 0644

- name: midonet gpg key
  copy:
    src: RPM-GPG-KEY-midonet
    dest: /etc/pki/rpm-gpg/RPM-GPG-KEY-midonet
    owner: root
    group: root
    mode: 0644

- name: install midonet gpg key
  rpm_key:
    state: present
    key: /etc/pki/rpm-gpg/RPM-GPG-KEY-midonet

- name: midonet yum repository
  copy:
    src: midonet.repo
    dest: /etc/yum.repos.d/midonet.repo
    owner: root
    group: root
    mode: 0644

- name: midonet-misc yum repository
  copy:
    src: midonet-misc.repo
    dest: /etc/yum.repos.d/midonet-misc.repo
    owner: root
    group: root
    mode: 0644

